@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

body{
    background-color: #F9FBC9;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: lightcoral;
    padding: 10px;
}

h1 {
    color: rgb(12, 26, 181)
}

.container h3 {
    background-color: aquamarine;
    color: darkmagenta;
    padding: 1%;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}

/* div{
    font-size: 10px;
} */

p{
    color: hsl(346, 88%, 36%);
    font-family: 'Rock 3D', Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.1em;
}

#second-p{
    color: hsl(249, 88%, 19%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2em;
}

#box-model{
    background-color: lightcyan;
    width: 300px;
    /* border: 15px solid green; */
    border-top: 10px solid red;
    border-bottom: 10px solid black;
    /* padding: 50px; */

    padding: 10px 5px;
    
    /* margin: 20px; */

    /* margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px; */

    /* margin: 5px 10px 5px 10px; */

    margin: 5px 10px;
}

.categories{
    border: 1px solid rgb(93, 89, 89);
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: black;
}

.categories a:hover{
    color: red;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 1px dotted #333;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.button{
    padding: 10px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background: darkmagenta;
    color: white;
}

.button:hover{
    background: blue;
    cursor: pointer;
}

.block{
    float: left;
    width: 33.33%;
}

.clearfix{
    clear: both;
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

#side-bar{
    float: right;
    width: 30%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.position-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    background-image: url('./images/large-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.position-box h1{
    position: absolute;
    top: 140px;
    left: 200px;
}

.position-box h2{
    position: absolute;
    bottom: 40px;
    right: 300px;
}

.fixed-button{
    position: fixed;
    top: 0;
}

.my-list li:first-child{
    background: rebeccapurple;
}

.my-list li:last-child{
    background: royalblue;
}

.my-list li:nth-child(2){
    background: darkorange;
}

.dynamic-list li:nth-child(even){
    background: darkorange;
}

.dynamic-list li:nth-child(odd){
    background: darkmagenta;
}